/* NONDON SHOP */
/* Nando Ghosh */

:root {
    --font: 'Poppins', sans-serif;
    --font-one: 'Montserrat', sans-serif;
    --blue: #00CED1;
    --navbg: var(--blue);
    --gray: #494948;
    --green: #009E60;
    --red: #FF3131;
    --white: #FEFAF6;
    --off-white: #fff6f0;
    --black: #1f1d1d;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: var(--font);
    color: var(--gray);
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    background-color: #f8f9fa;
}

a {
    color: var(--blue);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    font-family: var(--font);
    margin: 0;
}

p {
    margin: 0;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}

.bg-primary {
    background-color: var(--blue) !important;
}

img {
    display: inline-block;
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
        line-height: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 14px;
    }
}

/* Bootstrap Custom */
.card {
    border: none;
    border-radius: 10px;
    background-color: var(--white);
}

.card-body {
    padding: 10px;
}

.form-control {
    border-radius: 0px;
}

.offcanvas {
    color: var(--white);
    background-color: var(--blue);
}

.offcanvas.offcanvas-start {
    width: 300px;
}

.offcanvas-body ul {
    position: relative;
}

.offcanvas-body ul span {
    display: inline-block;
    position: absolute;
    z-index: 999;
    right: 10px;
    font-size: 14px;
}

/*** Button ***/
.back-to-top {
    position: fixed;
    display: none;
    right: 35px;
    bottom: 35px;
    z-index: 99;
}

.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
    padding: 0px 10px;
    border-radius: 0px;
    font-weight: 400;
    font-size: 14px;
}

.btn-primary:hover {
    color: var(--white);
    background: var(--blue);
    border: 1px solid var(--blue);
    padding: 0px 10px;
    border-radius: 0px;
    font-weight: 400;
    font-size: 14px;
}

.btn.btn-primary {
    font-weight: 600;
    color: var(--black);
    border-radius: 5px;
    background-color: var(--blue);
    border: none;
}

.buy_now {
    width: 47%;
    font-size: 13px;
    font-weight: 400;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    background: transparent;
}

.buy_now:hover {
    color: var(--white);
    border: 1px solid var(--blue);
    background: var(--blue);
}

.add_to_cart {
    width: 47%;
    font-size: 13px;
    font-weight: 400;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    background: transparent;
}

.add_to_cart:hover {
    color: var(--white);
    border: 1px solid var(--blue);
    background: var(--blue);
}

.out-of-stock {
    padding: 2px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    background: var(--red);
    border-radius: 5px;
}

.offer {
    position: absolute;
    z-index: 999;
    align-self: self-end;
    font-weight: 600;
    color: var(--white);
    background-color: var(--green);
    font-size: 12px;
    padding: 0px 10px;
    text-shadow: none;
    margin-right: 0px;
    margin-top: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (min-width: 668px) and (max-width: 1200px) {
    .buy_now {
        width: 47%;
        font-size: 12px;
        padding-inline: 0px;
    }

    .add_to_cart {
        width: 47%;
        font-size: 12px;
        padding-inline: 0px;
    }
}

@media (max-width: 667px) {

    .btn-primary {
        padding: 2px 10px;
    }

    .buy_now {
        width: 47%;
        font-size: 10px;
        padding-inline: 0px;
    }

    .add_to_cart {
        width: 47%;
        font-size: 10px;
        padding-inline: 0px;
    }
}

.btn-square {
    background-color: var(--blue);
    width: 38px;
    height: 38px;
    padding: 7px;
    font-weight: normal;
    border-radius: 0px;
}

@media (max-width: 1024px) {
    .back-to-top {
        position: fixed;
        display: none;
        right: 10px;
        bottom: 70px;
        z-index: 99;
    }

    .btn-square {
        background-color: var(--blue);
        width: 28px;
        height: 28px;
        padding: 2px;
    }
}

/* Header */

header .header-top {
    background-color: var(--white);
}

header .header-top .left-item ul li {
    float: left;
    color: var(--blue);
    padding: 5px;
    font-size: .9rem;
    list-style: none;
}

header .header-top .left-item ul li a {
    color: var(--blue);
}

header .header-top .right-item ul li {
    float: right;
    color: var(--blue);
    padding: 5px;
    font-size: .8rem;
    font-weight: 400;
    list-style: none;
}

header .header-top .right-item ul li a {
    color: var(--blue);
}

.header-down {
    border-bottom: 1px solid #ccc;
}

.header-down .menu ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

.header-down .menu ul li {
    margin-left: 20px;
}

.header-down .menu ul li a {
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    header .header-top .left-item ul {
        float: none;
        display: flex;
    }
}

.nav-bg {
    background-color: var(--navbg);
}

.mobile-nav .nav-bg {
    background-color: var(--blue);
}

.desktop-nav {
    line-height: 35px;
}

.desktop-nav nav ul li a span {
    font-size: 8px;
    position: absolute;
    z-index: 999;
    top: 13px;
    margin-left: 13px;
    color: var(--red);
    background-color: var(--white);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.desktop-nav nav ul li a:hover span {
    color: var(--green);
    background-color: var(--white);
}

.navbar {
    font-weight: 600;
    font-size: 46px !important;
    color: var(--blue);
}


.navbar-brand img {
    width: 150px;
    height: 40px;
}

nav ul li a {
    font-size: 15px !important;
    color: var(--white) !important;
}

nav ul li a i {
    font-size: 18px !important;
    color: var(--white) !important;
}


.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.search-box {
    line-height: 30px;
    position: relative;
    width: 500px;
    border-radius: 10px;
}

.search-box::placeholder {
    color: var(--blue);
}

.search-icon {
    font-size: 20px;
    line-height: 30px;
    color: var(--blue);
    position: absolute;
    z-index: 999;
    margin-left: 450px;
    transition: none;
}

@media screen and (max-width: 1024px) {
    .search-box {
        height: 40px;
        width: 90%;
        position: fixed;
        top: 70px;
        z-index: 9;
    }

    .search-icon {
        margin-left: 92%;
    }
}

@media screen and (max-width: 667px) {
    .search-box {
        height: 40px;
        width: 93%;
        position: fixed;
        top: 70px;
        z-index: 9;
    }

    .search-icon {
        margin-left: 85%;
    }
}


/* Side Menu */

.sidemenu {
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 16%;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: var(--off-white);
    text-shadow: 0px 0px 4px rgb(254, 250, 246);
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease 0s;
}

.sidemenu hr {
    width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidemenu ul {
    position: relative;
    list-style: none;
}

.sidemenu ul li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    color: var(--gray) !important;
    padding: 0px 20px;
    transition: .5s ease;
}

.sidemenu ul li a:hover {
    color: var(--blue) !important;
    letter-spacing: 1px;
    transition: .5s;
}

.sidemenu ul li a img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.sidemenu ul span {
    position: absolute;
    display: initial;
    z-index: 999;
    right: 20px;
    font-size: 14px;
}


/* Slider */

.desktop-carousel-inner {
    border-radius: 10px;
    width: 100%;
    height: 250px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 40px;
    font-weight: 900;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: var(--blue);
}

@media screen and (max-width: 1024px) {
    .desktop-carousel-inner {
        height: 250px;
        width: cover;
        border-radius: 0px;
        padding-left: 0px;
    }

    .option-slider .row>* {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-slider .carousel-inner {
        height: 250px;
        width: 100%;
        border-radius: 0px;
    }

}


/* categories */
.categories .card {
    height: 150px;
    width: 150px;
    border: 1px solid var(--blue);
    border-radius: 10px;
    position: relative;
}

.categories .card img {
    height: 100px;
    width: 100px;
    padding: 10px;
    align-self: center;
}

.categories .card .product-text {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 10px;
}

.categories .card:hover .product-text {
    color: var(--blue);
    letter-spacing: 1px;
    transition: .5s;
}

@media screen and (max-width: 1200px) {
    .categories .card {
        height: 120px;
        width: 120px;
        border: 1px solid var(--blue);
        border-radius: 5px;
        position: relative;
    }

    .categories .card img {
        height: 90px;
        width: 90px;
        padding: 5px;
        align-self: center;
    }

    .categories .card .product-text {
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        padding: 5px 0px 3px;
    }

    .categories .card:hover .product-text {
        color: var(--blue);
        transition: .5s;
    }
}

@media screen and (max-width: 992px) {
    .categories .card {
        height: 100px;
        width: 100px;
        border: 1px solid var(--blue);
        border-radius: 5px;
        position: relative;
    }

    .categories .card img {
        height: 70px;
        width: 70px;
        padding: 5px;
        align-self: center;
    }

    .categories .card .product-text {
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        padding: 5px 0px 3px;
    }

    .categories .card:hover .product-text {
        color: var(--blue);
        transition: .5s;
    }
}

@media screen and (max-width: 767px) {
    .categories .card {
        height: 80px;
        width: 80px;
        border: 1px solid var(--blue);
        border-radius: 5px;
        position: relative;
    }

    .categories .card img {
        height: 50px;
        width: 50px;
        padding: 5px;
        align-self: center;
    }

    .categories .card .product-text {
        text-align: center;
        font-size: 8px;
        line-height: 10px;
        padding: 5px 0px 3px;
    }

    .categories .card:hover .product-text {
        color: var(--blue);
        transition: .5s;
    }
}

/* Order System */
.order-system a {
    color: var(--white);
}

.order-system img {
    height: 30px;
    width: 30px;
}

.order-system-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background: var(--blue);
    border-radius: 10px;
}

.order-system-call {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background: var(--green);
    border-radius: 10px;
}



.play-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    color: var(--white);
    font-size: 50px;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 100%;
    position: relative;
}

.play-btn i:after {
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    animation-delay: .4s;
    z-index: 999;
}

@keyframes bloom1 {
    0% {
        transform: scale(.5);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 767px) {
    .order-system-upload {
        height: 60px;
        width: 80%;
        margin: auto;
    }

    .order-system-call {
        height: 60px;
        width: 80%;
        margin: auto;
    }

    .video {
        width: 250px;
        height: 250px;
        margin: auto;
    }
}


/* Products Part*/

.products .card {
    font-size: 14px;
    color: var(--gray);
    position: relative;
    padding: 5px;
    background: var(--off-white);
}


.products .card:hover {
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.products .card img {
    height: 150px;
    width: 100%;
    transition: all 0.4s ease 0s;
}

.products .product-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
    color: var(--black);
}

.products .product-name:hover {
    color: var(--blue);
}

.products .product-name span {
    font-weight: normal;
    font-size: 12px;
    margin-left: 5px;
    color: var(--gray);
}

.products .product-type {
    line-height: 14px;
    font-weight: normal;
    font-size: 12px;
    opacity: 70%;
}

.products .generic-name {
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0px;
    color: var(--green);
    text-decoration: underline;
}

.products .company-name {
    line-height: 14px;
    font-size: 12px;
}

.products .product-price {
    margin: 10px;
    font-size: 20px;
    color: var(--blue);
}

.products .main-price {
    font-size: 14px;
    line-height: 20px;
    color: var(--gray);
    text-decoration: line-through;
    margin-left: 5px;
}

/* Featured Brands Part*/

.featured-brands .card {
    height: 150px;
    width: 200px;
    background-color: var(--off-white);
    border-radius: 10px;
}

.featured-brands .card img {
    height: 150px;
    width: 200px;
    padding: 10px;
    align-self: center;
}

/* Articles Brands */

.articles .card {
    color: var(--gray);
    padding: 5px;
    background: var(--off-white);
}


.articles .card:hover {
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.articles .card img {
    height: 150px;
    width: 100%;
    transition: all 0.4s ease 0s;
}

.articles-name {
    margin: 10px;
    font-size: 14px;
    line-height: 18px !important;
    color: var(--black);
}

.articles-name:hover {
    font-size: 14px;
    color: var(--blue);
}

.articles-text {
    margin: 0px 10px 10px 10px;
    line-height: 14px;
    font-size: 10px;
    text-align: justify;
}

/* Testimonials */
.testimonials .card {
    padding: 10px 5px;
}

.testimonials .card img {
    height: 100px;
    width: 100px;
    border: 3px solid var(--blue);
    border-radius: 50%;
    margin: auto;
}

.testimonials-ratings {
    color: var(--blue);
    text-align: center;
    font-size: 12px;
}

.testimonials-name {
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    text-align: center;
    font-weight: 500;
}

.testimonials-name span {
    font-size: 10px;
    line-height: 18px;
    color: var(--black);
    text-align: center;
    font-weight: 400;

}

.testimonials-text {
    margin: 10px;
    line-height: 14px;
    font-size: 10px;
    text-align: justify;
}

/* About or Branding */

.about img {
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 767px) {
    .about img {
        width: 100%;
        height: 100%;
    }
}

/*** Footer ***/
.footer {
    color: var(--white);
    background-color: var(--black);
}

.footer-brand {
    font-weight: 900;
    font-size: 46px !important;
    color: var(--blue);
}

.footer-brand:hover {
    color: var(--white);
}

.footer-brand span {
    font-weight: 900;
    font-size: 46px !important;
    color: var(--white);
}

.footer-brand:hover span {
    color: var(--blue);
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: normal;
    border: 1px solid var(--white);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--blue);
    background: none;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--white);
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
}


.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--white);
}

.footer .footer-menu a {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid var(--white);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer h4 {
    color: var(--white);
    font-weight: 600;
}

.footer p {
    color: var(--white);
    line-height: normal;
    font-weight: 400;
}

.payment-img {
    max-width: 137px;
}

@media screen and (max-width: 1400px) {
    .payment-img {
        max-width: 118px;
    }
}

@media screen and (max-width: 1200px) {
    .payment-img {
        max-width: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .payment-img {
        max-width: 152px;
    }
}

@media screen and (max-width: 767px) {
    .payment-img {
        max-width: 153px;
    }

    .footer h4 {
        font-size: 14px;
    }

    .footer p {
        font-size: 12px;
    }

    .footer .btn.btn-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .payment-img {
        max-width: 148px;
    }
}


/* Category Page */

.category .card {
    font-size: 14px;
    color: var(--gray);
    position: relative;
    padding: 5px;
    background: var(--off-white);
}


.category .card:hover {
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.category .card img {
    height: 150px;
    width: 100%;
    transition: all 0.4s ease 0s;
}

.category .product-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
    color: var(--black);
}

.category .product-name:hover {

    color: var(--blue);
}

.category .product-name span {
    font-weight: normal;
    font-size: 12px;
    margin-left: 5px;
    color: var(--gray);
}

.category .product-type {
    line-height: 14px;
    font-weight: normal;
    font-size: 12px;
    opacity: 70%;
}

.category .generic-name {
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0px;
    color: var(--green);
    text-decoration: underline;
}

.category .company-name {
    line-height: 14px;
    font-size: 12px;
}

.category .product-price {
    margin: 10px;
    font-size: 20px;
    color: var(--blue);
}

.category .main-price {
    font-size: 14px;
    line-height: 20px;
    color: var(--gray);
    text-decoration: line-through;
    margin-left: 5px;
}

/* Product Information Page */

.product-info .product-thumbnail {
    text-align: center;
}

.product-info .product-thumbnail img {
    height: 420px;
    width: 100%;
    display: block;
    border-radius: 10px;
}

.product-info .product-description {
    border-radius: 10px;
}

.product-info .product-description .product-title {
    font-size: 26px;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 10px;
}

.product-info .product-description .product-title span {
    font-size: 12px;
    color: var(--gray);
    font-weight: 400;
}

.product-info .product-description .product-type {
    font-size: 14px;
    color: var(--gray);
    font-weight: 400;
    opacity: 50%;
    margin-bottom: 15px;
}

.product-info .product-description .generic-name {
    font-size: 16px;
    color: var(--green);
    font-weight: 400;
    margin-bottom: 15px;
    text-decoration: underline;
}

.product-info .product-description .company-name {
    font-size: 16px;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: 15px;
}

.product-info .product-description .main-price {
    font-size: 14px;
    color: var(--blue);
    font-weight: 400;
    text-decoration: none;
    margin-left: 0px;
}

.product-info .product-description .main-price span {
    font-size: 16px;
    color: var(--gray);
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 10px;
}

.product-info .product-description .product-price {
    font-size: 16px;
    color: var(--gray);
    font-weight: 600;
    margin: 10px 0px;
}

.product-info .product-description .product-price span {
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
}

.product-info .product-description .product-price .quantity {
    font-size: 14px;
    color: var(--gray);
    font-weight: 400;
}


.product-info .product-description .product_page_buy_now {
    width: 49%;
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    background: var(--blue);
    padding: 3px 0px;
    border: 1px solid var(--blue);
    border-radius: 10px;
}

.product-info .product-description .product_page_buy_now:hover {
    color: var(--blue);
    padding: 3px 0px;
    border: 1px solid var(--blue);
    background: var(--white);
}

.product-info .product-description .product_page_add_to_cart {
    width: 49%;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0px;
    color: var(--white);
    background: var(--green);
    border: 1px solid var(--green);
    border-radius: 10px;
}

.product-info .product-description .product_page_add_to_cart:hover {
    color: var(--green);
    padding: 3px 0px;
    border: 1px solid var(--green);
    background: var(--white);
}

.product-info .product-description .form-select {
    text-align: center;
    font-size: 16px;
    margin: 10px 0px;
    padding: 7px 15px;
    border: 1px solid var(--blue);
    border-radius: 10px;
    background-color: var(--off-white);
}

.product-info .product-description .qty-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--blue);
    margin: 10px 0px;
    padding: 3px 0px;
    border-radius: 10px;
    background-color: var(--off-white);
}

.product-info .product-description .qty-container .input-qty {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    background: transparent;
    max-width: 80px;
}

.product-info .product-description .qty-container .qty-btn-minus,
.product-info .product-description .qty-container .qty-btn-plus {
    color: var(--black);
    border: 0px;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    transition: 0.3s;
}

.product-info .product-description .qty-container .qty-btn-plus {
    margin-left: -1px;
}

.product-info .product-description .qty-container .qty-btn-minus {
    margin-right: -1px;
}

@media (max-width: 768px) {

    .product-info .product-description .product_page_buy_now {
        font-size: 14px;
        padding: 10px 0px;
    }

    .product-info .product-description .product_page_buy_now:hover {
        font-size: 14px;
        padding: 10px 0px;
    }

    .product-info .product-description .product_page_add_to_cart {
        font-size: 14px;
        padding: 10px 0px;
    }

    .product-info .product-description .product_page_add_to_cart:hover {
        font-size: 14px;
        padding: 10px 0px;
    }

    .product-info .product-description .qty-container {
        padding: 9px 0px;
    }
}

.medicine-overview p {
    color: var(--gray);
    opacity: 90%;
    font-size: 14px;
    line-height: 20px;
}

.medicine-overview li {
    color: var(--gray);
    opacity: 90%;
    font-size: 14px;
    line-height: 20px;
}

.medicine-overview li span {
    color: var(--gray);
    opacity: 90%;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

/* Check Out Page Start */

.check-out-info .address {
    border-radius: 10px;
}

.check-out-info .address .form-control {
    border: 1px solid var(--blue);
    border-radius: 10px;
}

.check-out-info .billing {
    border-radius: 10px;
}

.check-out-info .billing-title {
    background-color: var(--blue);
    padding: 10px;
    font-weight: 600;
    color: var(--black) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.check-out-info .billing .select-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.check-out-info .billing .thumbnail {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.check-out-info .product-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
}

.check-out-info .title-small {
    font-size: 10px;
    color: var(--gray);
    font-weight: 400;
    line-height: 16px;
}

.check-out-info .product-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
}

.check-out-info .main-price {
    font-size: 10px;
    color: var(--gray);
    font-weight: 400;
    line-height: 16px;
    text-decoration: line-through;
}

.check-out-info .billing .price-info {
    display: flex;
    justify-content: space-between;
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
}

.check-out-info .billing .total-price {
    display: flex;
    justify-content: space-between;
    color: var(--black);
    font-size: 17px;
    font-weight: 600;
}

.check-out-info .billing .form-control {
    border-radius: 5px;
}

/* Cart Page */
.cart-info .offcanvas {
    color: var(--black);
    background-color: var(--white);
}

.cart-info .cart-products .proceed-to {
    position: absolute;
    width: 85%;
    padding: 0px 0px 10px;
    bottom: 0px;
    background-color: var(--white);
    z-index: 9;
}

.cart-info .cart-products .select-products {
    display: flex;
    margin-bottom: 10px;
}

.cart-info .cart-products .thumbnail {
    position: relative;
}

.cart-info .cart-products .thumbnail img {
    border-radius: 5px;
    height: 70px;
    width: 75px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.cart-info .cart-products .thumbnail .remove {
    color: var(--red);
    font-weight: 500;
    position: absolute;
    top: 27%;
    left: 35%;
    display: none;
    opacity: 70%;
}

.cart-info .cart-products .thumbnail .remove i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
}


.cart-info .cart-products .thumbnail:hover .remove {
    display: initial;

}

.cart-info .cart-products .product-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
}

.cart-info .cart-products .generic-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--green);
    text-decoration: underline;
}

.cart-info .cart-products .product-title span {
    font-size: 10px;
    color: var(--gray);
    font-weight: 400;
    line-height: 18px;
}

.cart-info .cart-products .product-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
}

.cart-info .cart-products .main-price {
    font-size: 12px;
    color: var(--gray);
    font-weight: 400;
    line-height: 18px;
    text-decoration: line-through;
}

.cart-info .cart-products .form-select {
    height: 25px;
    border-radius: 5px;
    padding: 0px 12px;
    font-size: 14px;
}

.cart-info .cart-products .qty-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    background-color: var(--off-white);
}

.cart-info .cart-products .qty-container .input-qty {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border: none;
    background: transparent;
    max-width: 40px;
}

.cart-info .cart-products .qty-container .qty-btn-minus,
.cart-info .cart-products .qty-container .qty-btn-plus {
    color: var(--black);
    border: 0px;
    font-size: 12px;
    font-weight: 600;
    background: transparent;
    transition: 0.3s;
}

.cart-info .cart-products .qty-container .qty-btn-plus {
    margin-left: -1px;
}

.cart-info .cart-products .qty-container .qty-btn-minus {
    margin-right: -1px;
}

.cart-info .cart-products .save-price {
    display: flex;
    justify-content: space-between;
    color: var(--green);
    font-size: 14px;
    font-weight: 500;
}

.cart-info .cart-products .save-price span {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: line-through;
}

.cart-info .cart-products .sub-total-price {
    display: flex;
    justify-content: space-between;
    color: var(--black);
    font-size: 17px;
    font-weight: 600;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .cart-info .cart-products .qty-container {
        padding: 9px 0px;
    }
}

/* Shop Page */

.shop-option {
    background-color: var(--blue);
}

.shop-option:hover {
    background-color: var(--blue);
}

.shop-option ul {
    display: flex;
    justify-content: space-between;
}

.shop-option ul li {
    font-size: 16px;
    line-height: 22px;
    list-style: none;
    padding-right: 28px;
    border-right: 2px solid #d6d5d3;
}

.shop-option ul li:last-child {
    padding-right: 0;
    border-right: none;
}


.shop-option ul li a {
    color: var(--black);
    font-weight: 600;
}

.page-header {
    background: url(../img/slider/background-1.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .shop-option ul {
        display: flex;
    }

    .shop-option ul li {
        font-size: 14px;
        border-right: none;
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    .shop-option ul {
        display: flex;
        flex-direction: column;
    }

    .shop-option ul li {
        padding: 7px;
        border-right: none;
        padding-right: 0px;
    }
}

/* Dashboard */
.dashboard ul li {
    list-style: none;
    padding: 5px 0px;
    font-size: 20px;
}


/* mobile nav */
nav.mobile {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.1rem 0;
    background: var(--blue);
    border-top: 1px solid #ccc;
    z-index: 9999;
    margin: 0 auto;
}

.mobile {
    transition: 0.5s ease !important;
}

nav.mobile ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    justify-self: center;
    vertical-align: middle;
}

nav.mobile ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 0;
}

nav.mobile ul li a {
    color: var(--white);
}

nav.mobile ul li a span {
    font-size: 12px;
}

nav.mobile ul li a span small {
    font-size: 10px;
    position: absolute;
    z-index: 999;
    top: 18px;
    margin-left: 15px;
    color: var(--blue);
    background-color: var(--white);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.mobile ul li a span i {
    align-self: center;
    font-size: 20px !important;
    width: 28px;
    height: 28px;
    line-height: 36px;
    display: block;
    margin: 0 auto;
}

.mobile-header-top {
    padding: 5px 0px;
    border-bottom: 1px solid var(--gray);
}

.mobile-header-top-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}


nav.mobile-product-page-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px 0px 0px 15px;
    background: var(--white);
    border-top: 1px solid #ccc;
    z-index: 9999;
    margin: 0 auto;
}

nav.mobile-product-page-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    justify-self: center;
    vertical-align: middle;
}

nav.mobile-product-page-bar li a {
    color: var(--black) !important;
    font-size: 16px !important;
}

.btn-txt {
    display: inline-block;
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}

.buy-now {
    background-color: var(--blue) !important;
    font-weight: 600;
    padding: 10px 15px;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: 999;
    left: 9px;
}

.add-cart {
    background-color: var(--blue) !important;
    font-weight: 600;
    padding: 10px 15px;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    padding-right: 35px;
    margin-right: -10px;
    ;
}


/* OWl Button Part*/

.products .owl-nav {
    position: absolute;
    top: -16px;
    right: 80px;
    display: flex;
}

.products .owl-nav .owl-prev,
.products .owl-nav .owl-next {
    margin-left: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white) !important;
    background-color: var(--blue) !important;
    border-radius: 50%;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 35px !important;
    transition: .5s;
}

.products .owl-nav .owl-prev:hover,
.products .owl-nav .owl-next:hover {
    background: var(--white);
    color: var(--blue);
}

.products .owl-nav .owl-prev span,
.products .owl-nav .owl-next span {
    color: var(--white);
    position: relative;
    top: -2px;
}

@media (max-width: 768px) {
    .products .owl-nav {
        top: -15px;
    }

    .products .owl-nav {
        right: 48px;
        transform: translateX(-50%);
    }

    .products .owl-nav .owl-prev,
    .products .owl-nav .owl-next {
        margin-left: 3px;
        width: 25px;
        height: 25px;
        font-size: 20px;
    }

    .products .owl-nav .owl-prev span,
    .products .owl-nav .owl-next span {
        color: var(--white);
        font-size: 35px;
        position: relative;
        top: -2px;
    }
}


/* Pagination Part*/

.pagination {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 4rem;
    border-top: 3px solid var(--off-white);
    border-bottom: 3px solid var(--off-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.pagination button {
    color: var(--blue);
    font-weight: 500;
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.pagination .num__btns {
    position: relative;
    display: flex;
    flex-direction: row;
}

.pagination .num__btn {
    width: 32px;
    height: 32px;
    margin: 8px;
    color: var(--blue);
    position: relative;
    z-index: 2;
    font-size: 16px;
    transform: all 1ss;
}

.pagination .num__btn--active {
    color: white !important;
}

.pagination .active__indicator {
    background-color: var(--blue);
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    top: 8px;
    left: 8px;
    transition: transform .5s ease-in-out;
    transform: translateX(0rem);
}

.pagination button:hover {
    color: var(--green);
}

.pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

/*Quantity Increment*/

/* .qty-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--blue);
    margin: 10px 0px;
    padding: 3px 0px;
    border-radius: 10px;
    background-color: var(--off-white);
}

.qty-container .input-qty {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    background: transparent;
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    color: var(--black);
    border: 0px;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}

@media (max-width: 768px) {
    .qty-container {
        padding: 9px 0px;
    }
} */
